container_commands:
  01_install_mysql_client:
    command: |
      if [ `command -v yum` ]; then
        yum install -y mysql-devel
      elif [ `command -v apt-get` ]; then
        apt-get update -y
        apt-get install -y libmysqlclient-dev
      fi
  02_install_mod_wsgi:
    command: "pip install mod_wsgi"
  03_migrate:
    command: "python manage.py migrate"
  04_collectstatic:
    command: "python manage.py collectstatic --noinput"
  05_restart:
    command: "sudo service httpd restart"

files:
  "/etc/nginx/conf.d/proxy_pass.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      location / {
        proxy_pass http://127.0.0.1:8000/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      }

files:
  "/etc/httpd/conf.d/wsgi.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module /usr/lib64/httpd/modules/mod_wsgi.so
      WSGIScriptAlias / /opt/python/current/app/website/store/wsgi.py
      WSGIPythonPath /opt/python/current/app/website/:/path/to/venv/lib/python3.6/site-packages
      <Directory /opt/python/current/app/website/store>
        <Files wsgi.py>
          Require all granted
        </Files>
      </Directory>
